<div class="key__word__data">
  <div id="map" class="map">
  </div>
  <div class="key__word__detail-left">
    <p>Top performing country for {{keyword}}</p>
    <div *ngIf="countryBestPerformances">
      <li *ngFor="let country of countryBestPerformances; let i = index" [attr.data-index]="i">
        {{country[0]}}({{country[1]}}%)
      </li>
    </div>
  </div>
  <div class="key__word__detail-right">
    <p>Worst performing country for {{keyword}}:</p>
    <div *ngIf="countryWorstPerformances">
      <li *ngFor="let country of countryWorstPerformances; let i = index" [attr.data-index]="i">
        {{country[0]}}({{country[1]}}%)
      </li>
    </div>
  </div>
</div>
