<div class="key__word__data">
  <div id="map" class="map">
  </div>
  <div class="key__word__detail-left">
    <div *ngIf="keyword && countryBestPerformances; else defalut">
      <p>Top performing country for {{keyword}}</p>
      <li *ngFor="let country of countryBestPerformances; let i = index" [attr.data-index]="i">
        {{country.name}}({{country.performance}}%)
      </li>
    </div>
  </div>
  <div class="key__word__detail-right">
    <div *ngIf="keyword && countryWorstPerformances; else defalut">
      <p>Worst performing country for {{keyword}}:</p>
      <li *ngFor="let country of countryWorstPerformances; let i = index" [attr.data-index]="i">
        {{country.name}}({{country.performance}}%)
      </li>
    </div>
  </div>
</div>
<ng-template #defalut>
  Please input a keyword!
</ng-template>
